/*CSS RESET*/
/* remove default spacing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

/* responsive images/videos */
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

/* Remove list styles on ul*/
ul[role="list"] {
  list-style: none;
}

:root {
  /* Colors */
  --primary-color: #000000;
  --secondary-color: rgb(58, 57, 57);
  --accent-color: #3de07e;
  --light-color: #fff;
  --cta-color: red;
  --blur-color: rgba(255, 0, 0, 0.3);

  /* Font */
  --font-size-base: 1rem;
  --font-size-m: 1.5rem;
  --font-size-l: 3rem;
  --font-size-xl: 4rem;
  --line-height: 1.6;
  --line-height-large: 2;
  --font-family: "Roboto", sans-serif;
  --font-style: normal;
  --font-weight-base: 400;
  --font-weight-bold: 700;

  /* Margin, Padding, Gap */
  --standard-space: 2rem;
  --small-space: 1rem;
  --medium-space: 1.5rem;
  --large-space: 3rem;
  --xl-space: 5rem;

  /* Width, Height */
  --width-base: 75vw;
  --container-width: min(var(--width-base), 100vw);

  /* Button style */
  --btn-p-small: 0.6rem;
  --btn-p-large: 0.8rem;
  --btn-border-radius: 0.3rem;
}

/* GLOBAL LAYOUT */
body {
  max-width: 100vw;
  background-color: var(--primary-color);
  color: var(--light-color);
  line-height: var(--line-height);
  font-size: var(--font-size-base);
  font-family: var(--font-family);
  font-style: var(--font-style);
  font-weight: var(--font-weight-base);
}

.grid-container {
  display: grid;
  grid-template-areas:
    "header header header header"
    "main main main main"
    "footer footer footer footer";
  grid-template-columns: repeat(3, 1fr);
  gap: 5rem;
  min-height: 100vh;
}

header {
  grid-area: header;

  h1 {
    justify-self: center;
  }

  img.logotype {
    justify-self: center;
  }
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
}

.content-wrapper-large {
  display: grid;
  justify-self: center;
  width: min(95%, 70em);
}

.content-wrapper-small {
  width: min(50%, 70em);
  display: grid;
  justify-self: center;
  gap: 2rem;
}

/* COMPONENTS */
header > nav > .cart-count > .shoppingcart-icon {
  position: relative;
}

.badge {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0.8rem;
  right: 1.5rem;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  z-index: 1000;
}

nav:has(img) {
  width: 95vw;
}

.product-card {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr;
  gap: 1rem;
}

.product-card.service {
  gap: 2rem;

  > * + * {
    padding-inline: var(--small-space);
  }

  .cta-btn {
    margin-bottom: 1rem;
    margin-left: 1rem;
  }
}

.cart-item {
  display: grid;
  grid-template-rows: 1fr auto auto;
  grid-template-columns: 1fr;
  gap: 1rem;

  > * + * {
    padding-inline: var(--small-space);
  }

  .cta-btn {
    margin-bottom: 1rem;
    margin-left: 1rem;
  }
}

.btn {
  appearance: button;
  width: fit-content;
  border: none;
  border-radius: var(--btn-border-radius);
}

.cta-btn {
  background-color: var(--cta-color);
  color: var(--light-color);
  font-size: var(--font-size-base);
}

table.pricing-info-table {
  border-collapse: collapse;
  width: auto;
  font-size: 1.2rem;

  tfoot > tr > td {
    border-top: 3px solid var(--light-color);
  }
}

/* LAYOUT */
.grid {
  display: grid;
}

.grid-rows-3 {
  grid-template-rows: auto 1fr auto;
}

.grid-rows-4 {
  grid-template-rows: auto 1fr 1fr auto;
}

.grid-column-1 {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr;
}

.grid-column-2 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25%, 1fr));
  justify-content: space-between;
  gap: 2rem;
}

.grid-column-2-auto {
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-content: space-between;
}

.grid-column-3 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
  justify-content: space-between;
  gap: 2rem;
}

.grid-column-3-auto {
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: space-between;
}

.grid-column-4 {
  display: grid;
  grid-template-columns: repeat(4, auto);
  justify-content: space-between;
  gap: 0.5rem;
}

.justify-content-space-between {
  justify-content: space-between;
}

.align-items-center {
  align-items: center;
}

.justify-self-end {
  justify-self: end;
}

/* SPACE */
.margin-inline-auto {
  margin-inline: auto;
}

.padding-large {
  padding: var(--large-space);
}

.padding-small {
  padding: var(--small-space);
}

.padding-small-btn {
  padding: var(--btn-p-small);
}

.padding-large-btn {
  padding: var(--btn-p-large);
}

.no-padding-bottom {
  padding-bottom: 0;
}

.margin-top-3 {
  margin-top: 3rem;
}

.margin-top-5 {
  margin-top: 5rem;
}

/* COLORS  */

/* Backgrounds */
.bg-light {
  background-color: var(--light-color);
}

.bg-primary {
  background-color: var(--primary-color);
}

.bg-secondary {
  background-color: var(--secondary-color);
}

.bg-accent {
  background-color: var(--accent-color);
}

.bg-blur {
  background-color: var(--blur-color);
}

.bg-cta {
  background-color: var(--cta-color);
}

/* Textcolors */
.text-dark {
  color: var(--primary-color);
}

.text-light {
  color: var(--light-color);
}

/* TYPOGRAPHY */

.extra-lineheight {
  line-height: var(--line-height-large);
}

.font-style-normal {
  font-style: normal;
}

.text-xlarge {
  font-size: var(--font-size-xl);
}

.text-medium {
  font-size: var(--font-size-m);
}

.text-bold {
  font-weight: var(--font-weight-bold);
}

.menu-link {
  text-decoration: none;
  line-height: 1.5;
  color: var(--light-color);
}

.menu-link:visited {
  text-decoration: none;
  color: var(--light-color);
}

/* RESPONSIVE CSS */
@media screen and (max-width: 890px) {
  .grid-container {
    gap: 2rem;
  }

  .content-wrapper-small {
    width: min(90%, 70em);
  }

  .grid-column-3 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(33%, 1fr));
    justify-content: space-between;
    gap: 2rem;
  }
}

@media screen and (max-width: 700px) {
  .grid-column-3 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
    justify-content: center;
  }

  .grid-column-2 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
    justify-content: center;
  }
}

@media screen and (max-width: 550px) {
  .grid-column-3-auto {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
  }
}
