/*CSS RESET*/
/* remove default spacing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

/* responsive images/videos */
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

/* Remove list styles on ul*/
ul[role="list"] {
  list-style: none;
}

:root {
  /* Colors */
  --primary-color: #000000;
  --secondary-color: rgb(58, 57, 57);
  --accent-color: #3de07e;
  --light-color: #fff;

  /* Font */
  --font-size-xl: 4rem;
  --line-height: 1.6;
  --line-height-large: 2;
  --font-family: "Roboto", sans-serif;
  --font-style: normal;
  --font-weight-base: 400;
  --font-weight-bold: 700;

  /* Margin, Padding, Gap */
  --standard-space: 2rem;
  --xl-space: 5rem;
  --large-space: 3rem;
  --small-space: 1rem;
  --medium-space: 1.5rem;
  /* --row: 1.75rem; */

  /* Width, Height */
  --width-base: 75vw;
  --container-width: min(var(--width-base), 100vw);

  /* Button style */
  --btn-p-small: 0.6rem;
  --btn-p-large: 0.8rem;
  --btn-border-radius: 0.3rem;
  --cta-color: red;
  --font-size-btn: 0.95rem;
}

/* body {
  display: grid;
  grid-template-areas:
    'header header '
    'nav main '
    'nav aside '
    'footer footer ';
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 200px 1fr;
  gap: 10px;
  height: 100vh;
}
.header {
  grid-area: header;
  background-color: #f4b400;
  text-align: center;
  padding: 10px;
} */

/* GLOBAL LAYOUT */
body {
  max-width: 100vw;
  background-color: var(--primary-color);
  color: var(--light-color);
  line-height: var(--line-height);
  font-family: var(--font-family);
  font-style: var(--font-style);
  font-weight: var(--font-weight-base);
}

.grid-container {
  display: grid;
  grid-template-areas:
    "header header header header"
    "main main main main"
    "footer footer footer footer";
  grid-template-rows: 25rem 1fr 15rem;
  grid-template-columns: repeat(3, 1fr);
  gap: 5rem;
  min-height: 100vh;
}

header {
  grid-area: header;
  background-color: var(--accent-color);
  color: var(--primary-color);
  display: grid;
  grid-template-rows: auto 1fr auto;
  justify-content: center;
  align-items: center;
  padding: 20px;
  padding-bottom: 0;

  h1 {
    text-align: center;
  }
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
  background-color: var(--secondary-color);
  padding: var(--large-space);
  line-height: var(--line-height-large);
}

.content-container {
  max-width: 65vw;
  margin-inline: auto;
}

/* COMPONENTS */
header > nav > .cart-count > .shoppingcart-icon {
  position: relative;
}

.badge {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0.8rem;
  right: 1.5rem;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: red;
  z-index: 1000;
  color: var(--light-color);
}

nav:has(img) {
  width: 95vw;
  display: grid;
  justify-content: space-between;
  align-items: center;
}

.product-card {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr;
  gap: 1rem;
}

.product-card.service {
  gap: 2rem;

  > * + * {
    padding-inline: var(--small-space);
  }

  .cta-btn {
    margin-bottom: 1rem;
    margin-left: 1rem;
  }
}

.cta-btn {
  background-color: var(--cta-color);
  color: var(--light-color);
  width: fit-content;
  padding: var(--btn-p-small);
  border: none;
  border-radius: var(--btn-border-radius);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-btn);
}

/* LAYOUT */
/* Grid */
.grid-column-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;
  gap: 3rem;
}

.grid-column-2-auto {
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-content: space-between;
}

.grid-column-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  gap: 3rem;
}

.grid-column-3-auto {
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: space-between;
}

.grid-column-4 {
  display: grid;
  grid-template-columns: repeat(4, auto);
  justify-content: space-between;
  gap: 0.5rem;
}

/* Space */
.margin-inline-auto {
  margin-inline: auto;
}

.mt-5 {
  margin-top: 5rem;
}

.gap-inline {
  gap: 1rem;
}

/* COLORS  */

.bg-light {
  background-color: var(--light-color);
}

.text-dark {
  color: var(--primary-color);
}

/* TYP */
.fs-normal {
  font-style: normal;
}

a {
  text-decoration: none;
  line-height: 1.5;
  color: var(--light-color);
}

a:visited {
  text-decoration: none;
  color: var(--light-color);
}

h1 {
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-bold);
}

h3 {
  font-size: 1.5rem;
  /* margin-bottom: var(--small-space); */
}
