/*CSS RESET*/
/* remove default spacing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

/* responsive images/videos */
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

/* Remove list styles on ul*/
ul[role="list"] {
  list-style: none;
}

:root {
  /* 
  padding sidor
  padding top/botten
  margin sidor
  margin top/botten
  font-size h1
  font-size h2
  font-size h3
  font-size text
  meny-länkar
  */

  --primary-color: #000000;
  --secondary-color: rgb(58, 57, 57);
  --accent-color: #3de07e;
  --light-color: #fff;
  --cta-color: red;
  --font-size-xl: 3rem;
  --margin-corner-left: 1rem 0 0 1rem;
  /* --margin-corner-right: 1rem 1rem 0 0; */
}

body {
  width: 100vw;
  background-color: var(--primary-color);
  color: var(--light-color);
}

header {
  min-height: 25rem;
  width: 100vw;
  background-color: var(--accent-color);
  color: var(--primary-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  h1 {
    font-size: var(--font-size-xl);
  }

  nav > img {
    margin: var(--margin-corner-left);
    background-color: aqua;
  }
}

/* Ramen för både produkter och tjänsterna */
main {
  border: 3px solid red;
  width: min(80vw, 100vw);
  margin: auto;
}

/* Ramen för produkterna */
section > .productlist {
  background-color: aqua;
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.product-card {
  border: 3px solid blue;
  display: flex;
  flex-direction: column;
  width: calc(78vw / 3);
  gap: 1rem;
  overflow: hidden;

  /* CSS just for the text box, not the img*/
  > * + * {
    padding-inline: 1rem;
  }

  #cta-btn {
    background-color: var(--cta-color);
    color: var(--light-color);
    width: 10rem;
    padding: 0.5rem 0.5rem;
    border: none;
    border-radius: 0.3rem;
    font-weight: bold;
  }
}
