/*CSS RESET*/
/* remove default spacing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

/* responsive images/videos */
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

/* Remove list styles on ul*/
ul[role="list"] {
  list-style: none;
}

:root {
  /* 
  padding sidor
  padding top/botten
  font-size h1
  font-size h2
  font-size h3
  font-size text
  meny-länkar
  */

  --primary-color: #000000;
  --secondary-color: rgb(58, 57, 57);
  --accent-color: #3de07e;
  --light-color: #fff;
  --cta-color: red;
  --font-size-xl: 3rem;
  --margin-small: 1rem;
}

body {
  width: 100vw;
  background-color: var(--primary-color);
  color: var(--light-color);
}

header {
  min-height: 25rem;
  width: 100vw;
  background-color: var(--accent-color);
  color: var(--primary-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  h1 {
    font-size: var(--font-size-xl);
  }

  nav:has(img) {
    display: flex;
    align-self: flex-start;
    margin-top: var(--margin-small);
    margin-left: var(--margin-small);
  }
}

/* Container for both products and services */
main {
  width: min(85vw, 100vw);
  margin: auto;
}

.productlist {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2rem;
  margin-top: 3rem;
}

.product-card {
  display: flex;
  flex-direction: column;
  width: calc(78vw / 3);
  gap: 1.2rem;
  overflow: hidden;

  #cta-btn {
    background-color: var(--cta-color);
    color: var(--light-color);
    width: 10rem;
    padding: 0.5rem 0.5rem;
    border: none;
    border-radius: 0.3rem;
    font-weight: bold;
  }
}

.service-card {
  display: flex;
  flex-direction: column;
  width: calc(78vw / 2);
  gap: 1.2rem;
  overflow: hidden;
  background-color: var(--light-color);
  color: var(--primary-color);

  > * + * {
    padding-inline: 1rem;
  }

  #cta-btn {
    background-color: var(--cta-color);
    color: var(--light-color);
    width: 10rem;
    padding: 0.5rem 0.5rem;
    border: none;
    border-radius: 0.3rem;
    font-weight: bold;
    margin-left: var(--margin-small);
    margin-bottom: var(--margin-small);
  }
}
