/*CSS RESET*/
/* remove default spacing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

/* responsive images/videos */
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

/* Remove list styles on ul*/
ul[role="list"] {
  list-style: none;
}

:root {
  /* Colors */
  --primary-color: #000000;
  --secondary-color: rgb(58, 57, 57);
  --accent-color: #3de07e;
  --light-color: #fff;
  --cta-color: red;

  /* Font */
  --font-size-xl: 4rem;
  --line-height: 1.5;
  --line-height-large: 2;
  --font-family: "Roboto", sans-serif;
  --font-style: normal;
  --font-weight-base: 400;
  --font-weight-bold: 700;

  /* Margin, Padding, Gap */
  --standard-space: 2rem;
  --xl-space: 5rem;
  --large-space: 3rem;
  --small-space: 1rem;
  --medium-space: 1.5rem;

  /* Width, Height */
  --width-base: 75vw;
  --container-width: min(var(--width-base), 100vw);

  /* Button style */
  --btn-width: 11rem;
  --btn-p-small: 0.6rem;
  --btn-p-large: 0.8rem;
  --btn-border-radius: 0.3rem;
  --font-size-btn: 0.95rem;
}

body {
  width: 100vw;
  background-color: var(--primary-color);
  color: var(--light-color);
  line-height: var(--line-height);
  font-family: var(--font-family);
  font-style: var(--font-style);
  font-weight: var(--font-weight-base);
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  min-height: 25rem;
  width: 100vw;
  background-color: var(--accent-color);
  color: var(--primary-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  h1 {
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-bold);
  }

  nav:has(img) {
    width: 95vw;
    display: flex;
    justify-content: space-between;
    margin-top: var(--small-space);
  }

  nav > .shoppingcart-icon {
    position: relative;
  }

  .badge {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0.8rem;
    right: 1.5rem;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: red;
    z-index: 1000;
    color: var(--light-color);
  }
}

/* Container for both products and services */
main {
  width: var(--container-width);
}

.productlist {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: var(--standard-space);
  margin-block: var(--large-space);
}

.product-card {
  display: flex;
  flex-direction: column;
  width: calc(((var(--width-base)) - 2 * var(--standard-space)) / 3);
  overflow: hidden;
  margin-bottom: var(--row);
  gap: var(--small-space);

  #cta-btn {
    background-color: var(--cta-color);
    color: var(--light-color);
    width: fit-content;
    padding: var(--btn-p-small);
    border: none;
    border-radius: var(--btn-border-radius);
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-btn);
  }
}

.service-card {
  display: flex;
  flex-direction: column;
  width: calc(((var(--width-base)) - 2 * var(--standard-space)) / 2);
  gap: var(--medium-space);
  overflow: hidden;
  background-color: var(--light-color);
  color: var(--primary-color);

  > * + * {
    padding-inline: var(--small-space);
  }

  #cta-btn {
    background-color: var(--cta-color);
    color: var(--light-color);
    width: var(--btn-width);
    padding: var(--btn-p-large);
    border: none;
    border-radius: var(--btn-border-radius);
    font-weight: bold;
    margin: var(--small-space);
  }
}

footer {
  min-height: 15rem;
  width: 100vw;
  background-color: var(--secondary-color);
  display: flex;
  justify-content: center;
  padding: var(--large-space);

  .container {
    width: var(--container-width);
    display: flex;
    justify-content: space-between;
  }

  h3 {
    font-size: 1.5rem;
    margin-bottom: var(--small-space);
  }

  .social-media-container {
    display: flex;
    gap: 0.5rem;
  }
}

a {
  text-decoration: none;
  line-height: 1.5;
  color: var(--light-color);
}

a:visited {
  text-decoration: none;
  color: var(--light-color);
}

/* Checkout */
main.checkout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 60vw;
  margin-top: var(--xl-space);
  margin-bottom: var(--xl-space);

  h2.checkout-title {
    margin-bottom: var(--small-space);
  }

  table.pricing-info-table {
    margin-bottom: var(--xl-space);
    line-height: var(--line-height-large);
    border-collapse: collapse;
    width: auto;

    thead {
      background-color: rgba(255, 0, 0, 0.3);
    }

    tfoot > tr > td {
      border-top: 3px solid var(--light-color);
      font-weight: var(--font-weight-bold);
    }
  }

  .cta-btn {
    align-self: flex-end;
    background-color: var(--cta-color);
    color: var(--light-color);
    width: fit-content;
    padding: var(--btn-p-small);
    border: none;
    border-radius: var(--btn-border-radius);
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-btn);
    margin: var(--small-space);
  }
}

.checkout-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--standard-space);
  margin-bottom: var(--xl-space);

  .card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    max-width: calc((60vw - 2 * var(--standard-space)) / 2);
    gap: var(--small-space);
    overflow: hidden;
    background-color: var(--light-color);
    color: var(--primary-color);

    > * + * {
      padding-inline: var(--small-space);
    }
  }
}

@media screen and (max-width: 890px) {
  main.checkout {
    max-width: 90vw;
    margin-top: var(--large-space);
    margin-bottom: var(--large-space);
  }

  .checkout-list {
    flex-direction: column;
    margin-bottom: var(--large-space);

    .card {
      max-width: calc((40% * var(--standard-space)));
    }
  }

  .product-card {
    width: calc(((var(--width-base)) - 2 * var(--small-space)) / 2);
  }

  .service-card {
    width: calc(((var(--width-base)) - 2 * var(--small-space)) / 2);
  }
}

@media screen and (max-width: 700px) {
  .product-card {
    width: calc(((var(--width-base)) * var(--small-space)) / 1);
  }

  .service-card {
    width: calc(((var(--width-base)) * var(--small-space)) / 1);
  }
}

@media screen and (max-width: 500px) {
  footer > .container {
    flex-direction: column;
    gap: 2rem;
  }
}
